#file-zone {
    background-color:#f1f0f0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    justify-content: center;
}

#file {
    width: 800px;
    height: 90%;
    background-color: #fff;
    border: 1px solid #e4dede;
}

#syns {
    width: 150px;
    height: 150px;
    border: 1px solid #e4dede;
    overflow: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;;
}
